@font-face {
    font-family: Norse;
    /* src: url("./Norse.otf") format("opentype"); */
    src: url("https://github.com/czervenka/runes/raw/master/Norse.otf") format("opentype");
}

body {
    padding: 1.5em;
    margin: auto;
    max-width: 600px;
    letter-spacing: 0.3em;
    color: #444;
    background: #EFD;
    text-align: center;
}

h1 {
    padding: 0;
    margin: 0;
}

h1 + i {
    display: block;
    padding-bottom: 1em;
}

*[name=swap] {
    font-size: 1em;
    cursor: pointer;
}
body, td, textarea {
    font-family: 'Norse', serif;
    font-size: 14px;
}
label {
    font-weight: strong;
}
textarea[name=text] {
    width: 100%;
    height: 10em;
    border: 2px solid #DDD;
    padding: 1em;
}
#translated {
    white-space: pre-wrap;
    text-align: left;
}
